.header {
    max-width: 880px;
    position: relative;
    min-height: 74px;
    display: flex;
    margin: 0;
    padding-top: 45px;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 680px) {
    .header {
        margin-right: 100px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        margin: 0;
        padding: 0;
        margin-top: 28px;
        max-width: 320px;
        min-height: 56px;
    }
}
