.profile__info_edit-button {
    padding: 7px;
    border: 1px solid #fff;
    max-width: 24px;
    max-height: 24px;
    margin: 0;
    margin-bottom: 16px;
    margin-top: 15px;
    cursor: pointer;
}