.popup__container-text {
    max-width: 358px;
    margin: 30px 36px 0 36px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
    line-height: 14px;
}

@media screen and (max-width: 540px) {
    .popup__container-text {
        margin: 0 22px 45px 22px;
    }
}
