.element__like-button {
    background-image: url(../../../images/__like.svg);
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 22px;
    min-height: 19px;
}

.element__like-button:hover {
    opacity: 0.5;
}